<div style="margin: 0; background-color: grey; width: 100%;">
  <div style="max-width: 1920px; margin: auto;">

    <div #rendererContainer id="rendererContainer"></div>
  
    <div style="background-image: url(../../assets/images/matthew-brodeur-DH_u2aV3nGM-unsplash.jpg)">
      <div style="padding: 10% 0% 0% 0%">
        <div style="width: 60%; margin: auto">
          <div class="cbbl">
            <strong>Hello, I'm Maxx!</strong>
            <br/>
            &nbsp;&nbsp;&nbsp;&nbsp;As a dynamic full-stack software engineer, my strength lies in my ability to foster effective collaboration within teams to craft solutions that are not only scalable but also user-friendly. I'm all about embracing new technologies and thrive in diverse and dynamic work settings.
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp;My development philosophy is grounded in the principles of iteration and experimentation. I believe that the best solutions are often discovered through a process of continuous refinement. This approach allows us to make informed, effective decisions at every stage of the project, ensuring that we're always aligned with our end goals.
            <br/><br/>
            &nbsp;&nbsp;&nbsp;&nbsp; But what truly sets me apart is my unwavering commitment to delivering solutions that meet the actual needs of our users. I constantly evaluate our progress to ensure that we're on the right track and that we're building a future that's both innovative and practical.
            <br/><br/>
            <strong>Let's collaborate to build a brighter future together!</strong>
          </div> 
        </div>
        <div style="z-index: 0;">
          <img src="../assets/images/sticker.png" width="50%"/>
          <img src="../assets/images/pancho.png" width="20%"/>
        </div>
      </div>
    </div>

    <div style=" background: linear-gradient(black, #C2B280)">
      <div style="display: flex; flex-direction: column; width: 60%; height: 40vh; margin: auto; object-fit: contain; padding: 10% 10% 0% 10%">
        <iframe src="../../assets/MaxxKingResume.pdf" style="width: 100%;height: 100%;border: none;"></iframe>
        <button style="width: 40%; margin: auto; margin-top: 5%">Download Resume</button>
      </div>
    </div>

    <section style="background-color: #C2B280; flex-direction: column">
      <h1 style="color: white; font-size: 4rem;">Tech stack</h1>
      <div style="width: 90%;">
          <div>
              <ul class="image-gallery">
                  <li>
                      <img src="../../assets/images/icons/angular-icon.svg" alt="" />
                      <div class="overlay"><span>Angular.js</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/react-icon.png" alt="" />
                    <div class="overlay"><span>React</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/html-icon.png" alt="" />
                    <div class="overlay"><span>HTML</span></div>
                  </li>
                  <li>
                      <img src="../../assets/images/icons/css-icon.png" alt="" />
                      <div class="overlay"><span>CSS</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/php-icon.svg" alt="" />
                    <div class="overlay"><span>PHP</span></div>
                </li>
                  <li>
                    <img src="../../assets/images/icons/js-icon.jpg" alt="" />
                    <div class="overlay"><span>Javascript</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/ts-icon.png" alt="" />
                    <div class="overlay"><span>Typescript</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/node-icon.svg" alt="" />
                    <div class="overlay"><span>Node.js</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/python-icon.svg" alt="" />
                    <div class="overlay"><span>Python</span></div>
                  </li>
                  <li>
                      <img src="../../assets/images/icons/java-icon.png" alt="" />
                      <div class="overlay"><span>Java</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/cPlusPlus-icon.png" alt="" />
                    <div class="overlay"><span>C++</span></div>
                  </li>
                  <li>
                      <img src="../../assets/images/icons/perl-icon.jpg" alt="" />
                      <div class="overlay"><span>Perl</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/mySql-icon.png" alt="" />
                    <div class="overlay"><span>mySQL</span></div>
                  </li>
                  <li>
                    <img src="../../assets/images/icons/git-icon.png" alt="" />
                    <div class="overlay"><span>Git</span></div>
                  </li>
              </ul>
          </div>
      </div>
    </section>
    

    <!-- TODO: Projects section here -->
    <!-- See link below for this webiste's repository -->
    <!-- https://github.com/maxx-king/maxx-king.github.io -->

    <!-- Reeltime.fish (link) -->
    <!-- < project description > -->
    <!-- < images > -->

    <!-- 3d printing (on demand / surfboards) -->
    <!-- < project description > -->
    <!-- < images > -->
  </div>
</div>