<div>
  <!-- Hero Section -->
  <section style="height: 90vh">
    <div style="width: 100%">
      <div style="position: absolute; height: 90vh; display: flex; justify-content: center; align-items: center;">
        <div style="flex-direction: column; text-shadow: #FC0 0 0 25px; margin-left: 5%; user-select: none;">
          <h1 style="font-size: 6vw;">Maxx King</h1>
          <h3>Full-Stack Software Enginner @ <a style="color:white;" href="https://www.clearhello.com/" target="_blank">ClearHello</a></h3>
          <h3>Composite Materials Research</h3>
          <h3>Creator</h3>
        </div>
      </div>
      <div #rendererContainer id="rendererContainer"></div>
    </div>
  </section>

  <!-- TODO: NAVBAR, 10vh, start at bottom of screen, move to top with scroll -->

  <!-- TODO: too wordy, sounds like bs -->
  <!-- About Section -->
  <section style="background-image:  linear-gradient(to top, transparent, #070B06), url(../../assets/images/about-bg.jpg); padding-top: 5%;">
      <div style="width: 50%;">
        <div style="width: 85%; padding-left: 10%">
          <div class="cbbl">
            <strong >Hey there, welcome to my portfolio!</strong>
            <p>As a dynamic full-stack software engineer, my strength lies in my ability to foster effective collaboration within teams to craft solutions that are not only scalable but also user-friendly. I'm all about embracing new technologies and thrive in diverse and dynamic work settings.</p>
            <p>My development philosophy is grounded in the principles of iteration and experimentation. I believe that the best solutions are often discovered through a process of continuous refinement. This approach allows us to make informed, effective decisions at every stage of the project, ensuring that we're always aligned with our end goals.</p>
            <p>But what truly sets me apart is my unwavering commitment to delivering solutions that meet the actual needs of our users. I constantly evaluate our progress to ensure that we're on the right track and that we're building a future that's both innovative and practical.</p>
            <strong>TLDR? Keep scrolling to see some of the current projects i'm working on!</strong>
          </div> 
        </div>
      </div>
      <div style="width: 50%; display: flex; justify-content: end;">
        <img src="../assets/images/sticker.png" alt="bitmoji character" width="85%"/>
      </div>
  </section>

  <!-- Resume Section -->
  <section style="height: 60vh; padding-top: 5%;">
    <iframe src="../../assets/MaxxKingResume.pdf" style="width: 60vw; height: 100%; border: none;" title="Resume"></iframe>
  </section>

  <!-- Tech Stack Section -->
  <section style="flex-direction: column">
    <h1>Tech Stack</h1>
    <div>
      <ul class="image-gallery">
          <li>
              <img src="../../assets/images/icons/angular-icon.svg" alt="Angular.js icon" />
              <div class="overlay"><span>Angular.js</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/react-icon.webp" alt="React icon" />
            <div class="overlay"><span>React</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/node-icon.svg" alt="Node.js icon" />
            <div class="overlay"><span>Node.js</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/html-icon.webp" alt="HTML icon" />
            <div class="overlay"><span>HTML</span></div>
          </li>
          <li>
              <img src="../../assets/images/icons/css-icon.webp" alt="CSS icon" />
              <div class="overlay"><span>CSS</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/js-icon.webp" alt="Javascript icon" />
            <div class="overlay"><span>Javascript</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/ts-icon.webp" alt="Typescript icon" />
            <div class="overlay"><span>Typescript</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/php-icon.svg" alt="PHP icon" />
            <div class="overlay"><span>PHP</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/python-icon.svg" alt="Python icon" />
            <div class="overlay"><span>Python</span></div>
          </li>
          <li>
              <img src="../../assets/images/icons/java-icon.webp" alt="Java icon" />
              <div class="overlay"><span>Java</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/cPlusPlus-icon.webp" alt="C++ icon" />
            <div class="overlay"><span>C++</span></div>
          </li>
          <li>
              <img src="../../assets/images/icons/perl-icon.webp" alt="Perl icon" />
              <div class="overlay"><span>Perl</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/mySql-icon.webp" alt="MySQL icon" />
            <div class="overlay"><span>mySQL</span></div>
          </li>
          <li>
            <img src="../../assets/images/icons/git-icon.webp" alt="Git icon" />
            <div class="overlay"><span>Git</span></div>
          </li>
      </ul>
    </div>
  </section>

  <!-- Projects Section -->
  <section style="flex-direction: column">
    <h1>Projects<br/><h3 style="text-align: center;">(Click to Expand)</h3></h1>
    <div>
      <ul class="project-gallery">
        <li>
          <div>
            <h3>This Website:</h3>
            <div>GitHub: <a href="https://github.com/maxx-king/maxx-king.github.io" target="_blank" aria-label="View source code">Click me to view source code</a></div>
            <div>Alternate URL: <a href="https://maxx-king.github.io" target="_blank" aria-label="Alternate URL">maxx-king.github.io</a>*</div>
            <div>*will redirect back to the current url</div>
            <p >This project is a static site hosted for free with github pages. GoDaddy was used for aquiring the domain name and managing dns records. This combination of tools allows me to minimize the maintence and operational costs for this project without too many limitations.</p>
          </div>
        </li>
        <li>
          <div>
            <h3>Pancho</h3>
            <p>Rescued 3/31/2021, 100% certified good boy, master of manipulation</p>
            <img style="height: 260px" src="../../assets/images/pancho.png" alt="My dog, Pancho"/>
          </div>
        </li>
        <li>
          <div>
            <h3>AI/ML</h3>
            <p>Dolphin Species - Completed while attending SDSU. Source code not publicly available by request of the professor. Using a dataset of echolocation clicks collected from various buoys, we were able to achieve a species classification accuracy of over 85%.</p>
            <p>Sports Betting - Combine a python web scraper to gather nfl stats and feed it into an ai capable of determining if a bet is 'good'. Will release code once its no longer profitable</p>
            <p></p>
          </div>
        </li>
        <li>
          <div>
            <h3>1964 Manx Dune Buggy</h3>
            <p>Blew up the old air-cooled type 1 vw engine (whoops)<br/>EV swap in progress, still need to find a better way to document this</p>
            <img style="height: 240px" src="../../assets/images/manx.png" alt="1964 Manx Dune Buggy"/>
          </div>
        </li>
        <li>
          <div>
            <h3>3D Printing</h3>
            <p>What started out as a hobby has slowly evolved into printing on demand, partering with local members of the community. Creating and manufacturing one off products to fufil a specific niche.</p>
          </div>
        </li>
        <li>
          <div>
            <h3>Composite Materials Research</h3>
            <p>A fancy way of saying I like to make, and sometimes break, surfboards. Currently experimenting with carbon fiber (increased durability), cork (increased sustainability), and solid wood (both!)</p>
          </div>
        </li>
        <li>
          <div>
            <h3><a href="https://reeltime.fish" target="_blank" aria-label="View Reeltime fish website">https://reeltime.fish</a></h3>
            <p>Powered by AI, webpage displays a livestream of the Monterey Bay Aquariam. Gives visitors the ability to identify any species they see by with one click.</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
    
  <!-- Contact Section -->
  <section style="flex-direction: column;">
    <h1>Contact</h1>
    <div>
      <ul class="image-gallery">
        <li>
          <a href="mailto: maxxking98@gmail.com" target="_blank" aria-label="Click to send me an email"><img src="../assets/images/icons/email-icon.webp" alt=""/></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/maxx-king" target="_blank" aria-label="Click to view my LinkedIn profile"><img src="../assets/images/icons/linkedin-icon.webp" alt=""/></a>
        </li>
        <li>
          <a href="https://github.com/maxx-king" target="_blank" aria-label="Click to view my GitHub"><img src="../assets/images/icons/git-icon.webp" alt=""/></a>
        </li>
      </ul>
    </div>
  </section>

  <!-- Footer Section -->
  <div style="height: 10vh; max-width: 1920px; background-color: white; display: flex; align-items: center; justify-content: center; border-radius: 25px 25px 0px 0px; text-align: center; margin: auto; margin-top: 3%;">
    <h3 style="color: black; text-shadow: none;">Maxx King &copy; 2024<br/>San Diego, CA</h3>
  </div>
</div>