#rendererContainer {
  display: flex;
  max-width: 1920px;
  margin: auto;
  height: 100vh;
}
section {
  display: flex;
  padding: 2% 0%;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.project-gallery > li {
  flex-basis: 400px;
  height: 400px;
  position: relative;
  list-style-type: none;
  background-color: white;
  border-radius: 25px;
  @media (max-width:800px) {flex-basis: 200px; height: 200px;}
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.image-gallery > li {
  flex-basis: 200px;
  height: 200px;
  position: relative;
  list-style-type: none;
  background-color: white;
  border-radius: 25px;
  @media (max-width:800px) {flex-basis: 100px; height: 100px;}
}
.image-gallery li img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 25px;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(7px);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.01s 0.01s ease-in-out;
  color: black;
  font-weight: 700;
  border-radius: 25px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  text-shadow: #FC0 1px 0 10px;
}
.image-gallery li:hover .overlay {
    transform: scale(1);
}
/* https://github.com/kaisermann/comicbubbles/blob/master/README.md */
.cbbl {
	position: relative;
	display: inline-block;
	margin: 10px 9px 29px 6px;
	text-align: center;
	font-weight: 700;
	font-size: 1.4vh;
	background-color: #fff;
	color: #000;
	padding: 5px;
	box-shadow: 0 -3px #fff, 0 -6px #000, 3px 0 #fff, 3px -3px #000, 6px 0 #000, 0 3px #fff, 0 6px #000, -3px 0 #fff, -3px 3px #000, -6px 0 #000, -3px -3px #000, 3px 3px #000, 3px 9px #aaa, 6px 6px #aaa, 9px 3px #aaa;
	box-sizing: border-box;

  @media (max-width:800px) {font-size: .75vw;}
}
.cbbl::before,
.cbbl::after {
	content: '';
	display: block;
	position: absolute;
	box-sizing: border-box;
  left: 20%;
}
.cbbl::after {
	background: #fff;
	width: 9px;
	height: 3px;
	bottom: -14px;
  margin-left: 6px;
	box-shadow: -3px 0 #000, 3px 0 #000, 3px 3px #fff, 0px 3px #000, 6px 3px #000, 9px 3px #aaa, 3px 6px #000, 6px 6px #000, 9px 6px #aaa, 6px 9px #aaa;
}
.cbbl::before {
	width: 15px;
	height: 8px;
	background: #fff;
	bottom: -11px;
	border-left: 3px solid #000;
	border-right: 3px solid #000;
}